<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <div id="app">
        <button @click="changeVisibility">Mostrar/Ocultar</button>
        <!-- <ul v-if="mostrar"> -->
        <!-- <tv-show v-for="(show,index) in tvshows" :key="index" :nombre="show.nombre" :temporadas="show.temporadas">
            </tv-show> -->
        <!-- <li v-for="(show,index) in tvshows" :key="index">
                <strong>{{show.nombre}}</strong> ({{show.temporadas}} Temporadas)
            </li> -->
        <!-- </ul> -->
        <tv-show-list></tv-show-list>
        <div v-else>
            No hay datos
        </div>
    </div>
    <script>
        Vue.component('tv-show-list', {
            data: function() {
                return {
                    tvshows: [{
                        nombre: 'Jugo de tronos',
                        temporadas: 7
                    }, {
                        nombre: 'Breaking bad',
                        temporadas: 5
                    }, {
                        nombre: 'Perdidos',
                        temporadas: 6
                    }, {
                        nombre: 'Battlestaz Galactica',
                        temporadas: 4
                    }]
                }
            },
            template: `
            <ul>
                <tv-show v-for="(show,index) in tvshows" :key="index" :nombre="show.nombre" :temporadas="show.temporadas"></tv-show>
            </ul>`
        });

        Vue.component('tv-show', {
            props: {
                nombre: String,
                temporadas: Number
            },
            template: `
                <li>
                    <strong>{{nombre}}</strong> ({{temporadas}} Temporadas)
                </li>
            `
        });

        const app = new Vue({
            el: '#app',
            data: {
                mostrar: true,
            },
            methods: {
                changeVisibility: function() {
                    this.mostrar = !this.mostrar
                }
            }
        })
    </script>

</body>

</html>